WEBHOOK_URL="https://discord.com/api/webhooks/1144832421821427762/fVBwVWtU4snmNSKbG8vD3U5AkLa8mkM6G3NA7LGq5wFNmxqVNqv2OJWbqPriqYz5s-CN"
SUMMARY_SCHEDULE="*/5 * * * *"
MODEL="llama3.2:3b"
OLLAMA_URL="http://10.0.0.7:11434"